---
layout: default
title: Features, articles and toys | Richard Westenra
description: A collection of stuff that I've made or written.
permalink: blog/
---
<main class="wrapper">
	<article class="post blog">
		<h2>Archive</h2>
		<p>I've separated my content into three sections: <a href="#projects" class="scroll">Projects</a>, <a href="#stories" class="scroll">Stories</a>, and <a href="#articles" class="scroll">Articles</a>.</p>

		<section id="projects">
			<h3>Projects</h3>
			<ul>
				{% for post in site.data.blog %}{% if post.category == 'project' %}
					<li {% if post.title %}class="hasTitle"{% endif %}>
						<a class="thumb" href="{{site.baseurl}}{{ post.url }}" style="background-image: url({{site.baseurl}}img/blogThumbs/{{ post.img }});">
							<h4>{{ post.name }}</h4>
							<p>{{ post.date }}</p>
						</a>
					</li>
				{% endif %}{% endfor %}
			</ul>
		</section>

		<section id="stories">
			<h3>Stories</h3>
			<ul>
				{% for post in site.data.blog %}{% if post.category == 'story' %}
					<li {% if post.title %}class="hasTitle"{% endif %}>
						<a class="thumb" href="{{site.baseurl}}{{ post.url }}" style="background-image: url({{site.baseurl}}img/blogThumbs/{{ post.img }});">
							<h4>{{ post.name }}</h4>
							<p>{{ post.date }}</p>
						</a>
					</li>
				{% endif %}{% endfor %}
			</ul>
		</section>

		<section id="articles">
			<h3>Articles</h3>
			<ul>
				{% for post in site.data.blog %}{% if post.category == 'article' %}
					<li {% if post.title %}class="hasTitle"{% endif %}>
						<a class="thumb" href="{{site.baseurl}}{{ post.url }}" style="background-image: url({{site.baseurl}}img/blogThumbs/{{ post.img }});">
							<h4>{{ post.name }}</h4>
							<p>{{ post.date }}</p>
						</a>
					</li>
				{% endif %}{% endfor %}
			</ul>
		</section>
	</article>
</main>
